{% extends 'base.html'%}

{% load static  %}

 {% block base %}
<div class="container fluid">
  {{MSG}}
    <div class="container">
      <form  action="{% url 'lr_visual:hue_one'%}" method="POST">
        {% csrf_token %}

        <select class="" name="month_dropdown" multiple>
            {% for mth in monthList%}
            <option value="{{mth}}">{{mth|upper}}</option>
             {% endfor %}
        </select>
        <select class="" name="zone_dropdown" >
            {% for zne in zoneList%}
            <option value="{{zne}}">{{zne|upper}}</option>
            {% endfor %}
        </select>
          <!--
          <select class="" name="bucket_dropdown" >
            {% for btk in btkList%}
            <option value="{{btk}}">{{btk|upper}}</option>
            {% endfor %}
        </select>
        -->
        <select class="" name="count_dropdown" >
            <option value=1>1</option>
            <option value=2>2</option>
             <option value=3 >3</option>
            <option value=4 >4</option>
        </select>
          <!--
          <select class="" name="chart_dropdown" >

            <option value="column">COLUMN</option>
            <option value="spline">SPLINE</option>
             <option value="line">LINE</option>
            <option value="pie">PIE</option>
        </select>
        -->
        <br>
        <button class="btn btn-success " type="submit" style="width :100px">
            search
        </button>
        </form>
    </div>
    <div>
    <h3>USER SELECTED {{userSelectedmonth}} MONTH </h3>
        <h5>Main count{{main_count}}</h5>
        <h5>Defaulter count {{defauter_count}}</h5>

    <table  class="table">
    <thead class="text-primary" style="position:sticky; top:0;background:white;" >
    <th scope="col" style="front-weight:1200; text-align:center">MONTH</th>
    <th scope="col" style="front-weight:1200; text-align:center">YEAR</th>
    <th scope="col" style="front-weight:1200; text-align:center">CA_NO</th>
    <th scope="col" style="front-weight:1200; text-align:center">MTR_NO</th>
    <th scope="col" style="front-weight:1200; text-align:center">ZONE_NAME</th>
    <th scope="col" style="front-weight:1200; text-align:center">REGION</th>
    <th scope="col" style="front-weight:1200; text-align:center">UNIT_CODE</th>
    <th scope="col" style="front-weight:1200; text-align:center">ACC_CLASS</th>
    <th scope="col" style="front-weight:1200; text-align:center">SUB_DIVISION</th>
    <th scope="col" style="front-weight:1200; text-align:center">TAMPER_COUNT</th>
    <th scope="col" style="front-weight:1200; text-align:center">KWH</th>
    <th scope="col" style="front-weight:1200; text-align:center">PAY_AGAINST_CURR_DMD</th>
    <th scope="col" style="front-weight:1200; text-align:center">PAY_AGAINST_ARREARS</th>
    <th scope="col" style="front-weight:1200; text-align:center">PAYMENT_AGAINST_TOTAL</th>
    <th scope="col" style="front-weight:1200; text-align:center">BUCKETING_DERIVED</th>
    <th scope="col" style="front-weight:1200; text-align:center">BUCKETING_DISPLAY</th>
    </thead>
    <tbody>
    {% for val in dataTable %}
<tr>
    <td style="front_weight:500;text-align:center;">{{val.MONTH}}</td>
    <td style="front_weight:500;text-align:center;">{{val.YEAR}}</td>
    <td style="front_weight:500;text-align:center;">{{val.CA_NO}}</td>
    <td style="front_weight:500;text-align:center;">{{val.MTR_NO}}</td>
    <td style="front_weight:500;text-align:center;">{{val.ZONE_NAME}}</td>
    <td style="front_weight:500;text-align:center;">{{val.REGION}}</td>
    <td style="front_weight:500;text-align:center;">{{val.UNIT_CODE}}</td>
    <td style="front_weight:500;text-align:center;">{{val.ACC_CLASS}}</td>
    <td style="front_weight:500;text-align:center;">{{val.SUB_DIVISION}}</td>
    <td style="front_weight:500;text-align:center;">{{val.TAMPER_COUNT}}</td>
    <td style="front_weight:500;text-align:center;">{{val.KWH}}</td>
    <td style="front_weight:500;text-align:center;">{{val.PAY_AGAINST_CURR_DMD}}</td>
    <td style="front_weight:500;text-align:center;">{{val.PAY_AGAINST_ARREARS}}</td>
    <td style="front_weight:500;text-align:center;">{{val.PAYMENT_AGAINST_TOTAL}}</td>
    <td style="front_weight:500;text-align:center;">{{val.BUCKETING_DERIVED}}</td>
    <td style="front_weight:500;text-align:center;">{{val.BUCKETING_DISPLAY}}</td>

</tr>
            {% endfor  %}

    </tbody>
</table>


      <br>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <figure class="highcharts-figure">
            <div id="container"></div>

        </figure>
        <script>
            Highcharts.chart('container', {
            chart: {
                type:'column'
            },
            title: {
                text: 'CUSTOMERS COUNT PER ZONE FOUND TO BE DEFAULTERS FOR MINIMUM TWO TIMES'
            },
            subtitle: {
                text: ''
            },

            xAxis: {
                categories: {{catList|safe}},
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'CUSTOMER COUNT '
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },

            series: {{seriesData|safe}}

        });
        </script>
        </div>

</div>
{% endblock  %}